html.dark {
  background-color: rgb(15, 23, 42);
}

/* Popup Design */
.cm-width-set {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.cm-width-set .mb-1 {
  justify-content: flex-start;
}

.cm-width-set .text-4xl {
  font-size: 25px;
  width: 70px;
  min-width: 70px;
}

.cm-full-wdith{
  max-width: 50% !important;
  margin: 0 auto;

}

.letter-container {
  font-size: 16px !important;
  font-weight: 700;
}

.mt-2 p {
  margin-block-start: 1.5em;
  margin-inline-end: 0px;
  font-size: 17px;
  margin-block-end: 1.5em;
}

.text-left h3 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.text-left .mt-2 {
  margin-top: 1.5rem !important;
}

.rachange-back {
  background: linear-gradient(294deg, #3a6a36 50%, #63995e 50%);
}

.kachange-back {
  background: linear-gradient(294deg, #3a6a36 50%, #b59f3b 50%);
}

.star-wrapper.star{
  background-repeat: no-repeat; 
  background-position: 99% 10%;
  background-image: url(./star-icon.svg),linear-gradient(294deg, #3a6a36 50%, #63995e 50%);
}

.absentma-back {
  background-color: #939598;
}

.kuchange-back {
  background-color: #86888a;
}

.tamil-logo img {
  max-width: 200px !important;
}

.navbar {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.title-pos {
  position: relative;
  left: -85px;
  font-size: 26px;
}

.right-icons .cursor-pointer {
  margin-right: 10px;
}

.developer-mode {
  text-align: center;
  margin-top: 30px

}

.developer-mode span {
  padding: 20px;
  border: 2px solid;
}

.heart-icon {
  width: 25px;
}

.heart-logo {
  width: 25px;
  color: rgb(247, 161, 244);
  display:inline-block;
  margin-right: 7px;
}

.cm-width-set .kuchange-back {
  background: url(Hearticon.svg) #86888a; 
  background-repeat: no-repeat;
  background-position: 10% 10%;
  background-size: 20px;
}


.cm-width-set .kuchange-back + p {
  margin-top: 0;
}

span.s-box {
  width: 30px;
  height: 30px;
  background-color: #538d4e;
  display: inline-block;
  margin-right: 20px;
}

span.yellow-box {
  width: 30px;
  height: 30px;
  background-color: #b59f3b;
  display: inline-block;
  margin-right: 20px;
}

span.green-dark-box {
  width: 30px;
  height: 30px;
  background: linear-gradient(294deg, #3a6a36 50%, #63995e 50%);
  display: inline-block;
  margin-right: 20px;
}

span.yellow-green-box{
  width: 30px;
  height: 30px;
  background: linear-gradient(294deg, #3a6a36 50%, #b59f3b 50%);
  display: inline-block;
  margin-right: 20px;
}

span.grey-box {
  width: 30px;
  height: 30px;
  background-color: #939598;
  display: inline-block;
  margin-right: 20px;
}

.single-row {
  display: flex;
  align-items: center;
}

.tabs-titles{
  display: flex;
  justify-content: center;
  border: 1px solid var(--gray);
  border-radius: 4px;
}

.tab-title{
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  color: #c7c6c2;
  cursor: pointer;
  border: 1px solid #86888a;
  font-size: 18px;
}

.tab-title--active {
  border: 1px solid #86888a;
  color: rgb(25, 118, 210);
  background-color: rgba(25, 118, 210, 0.08);
}

.tab-content{
    display: flex;
    justify-content: center;
    -webkit-animation: SlideLeft .2s linear;
    animation: SlideLeft .2s linear;
    color: #86888a;
    color: var(--gray);
    padding: 15px;
}

.tab-content p {
  margin-top: 5px;
}

.settings-description, .settings-description-two {
  font-size: 15px !important;
}

.leading-none {
  margin-top: 5px !important;
}

/* Readmore ----------- */
h2, .details{
  display:inline;
}

.details {
  position:relative;
  color: #000 !important;
}
.card{
  cursor: pointer;
  color: #6e83eb;
}

.dropbottom button{
  text-align: center;
  width: 100%;
}
.dropbottom button .read-more{
  font-weight: 600;
  background: url(/src/down-chevron.svg);
  background-repeat: no-repeat;
  background-position: 50% 35%;
  height: 100px;
  background-size: 34px;
  background-attachment: fixed;
  margin-top: 0px;
} 

.dropbottom button .read-less{
  font-weight: 600;
  background: url(/src/up-chevron.svg);
  background-repeat: no-repeat;
  background-position: 51% -15%;
  height: 75px;
  background-size: 34px;
  background-attachment: fixed;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.details-list {
  list-style-type: circle;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

::-webkit-details-marker {display: none;}


@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-3xl {
  font-size: 1.425rem;
  line-height: 2.25rem;
}

.destribution-text {
  font-size: 16px;
  font-weight: 600;
}

.new-word {
  font-size: 16px;
  font-weight: 600;
}

.old-word h5{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
}

.old-word p {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #538d4e;
}
.migration-status {
  display: none;
}

.grid-board {
  grid-gap: 5px;
  display: grid;
  grid-template-rows: repeat(8,1fr);
  height: 394px;
  margin: 10px auto;
  overflow-y: scroll;
  padding: 10px;
  /* width: 300px;  */
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c7c7c7 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
.mobile-logo{
  display: none;
}

.inline-block p {
  margin-bottom: 2px;
}

.uyiremei-back{
  background: url(Hearticon.svg) #86888a; 
  background-repeat: no-repeat;
  background-position: 10% 10%;
  background-size: 20px;
}

/* .uyiremei-colorkeyboard {
  background-color: orange !important;
} */

.mobile-keyboard {
  position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      left: 0;
  
}
.grid-board {
    margin: 0 auto;
    padding-bottom: 150px;
}

.mobile-keyboard {
  background: white;
}

.key-change {
  border-radius: 4px;
  width: 3.5rem !important;
  height: 2.5rem !important;
}
p.easymode-text {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Media Queries */
@media (max-width: 1536px) {
  .tamil-logo img {
    max-width: 200 !important;
  }
  .title-pos {
    position: relative;
    left: -75px;
    font-size: 23px;
  }
  .letter-container {
    font-size: 16px !important;
    font-weight: 700;
  }
  .cm-full-wdith{
    max-width: 50% !important;
    margin: 0 auto;
  }
  .mt-2 p {
    font-size: 16px;
  }
  .settings-description, .settings-description-two {
    font-size: 15px !important;
  }
  .text-3xl {
    font-size: 1.425rem;
    line-height: 2.25rem;
  }
  .destribution-text {
    font-size: 16px;
    font-weight: 600;
  }
  .new-word {
    font-size: 16px;
    font-weight: 600;
  }
  .migration-status {
    display: none;
  }
  
}

@media (max-width: 1280px) {
  .tamil-logo img {
    max-width: 200 !important;
  }
  .title-pos {
    position: relative;
    left: -75px;
    font-size: 23px;
  }
  .letter-container {
    font-size: 16px !important;
    font-weight: 700;
  }
  .cm-full-wdith{
    max-width: 50% !important;
    margin: 0 auto;
  }
  .mt-2 p {
    font-size: 16px;
  }
  .settings-description, .settings-description-two {
    font-size: 14px !important;
  }
  .text-3xl {
    font-size: 1.425rem;
    line-height: 2.25rem;
  }
  .destribution-text {
    font-size: 16px;
    font-weight: 600;
  }
  .new-word {
    font-size: 16px;
    font-weight: 600;
  }
  .migration-status {
    display: none;
  }
  
}

@media (max-width: 1024px) {
  .tamil-logo img {
    max-width: 190px !important;
  }
  .title-pos {
    position: relative;
    left: -40px;
    font-size: 22px;
  }
  .letter-container {
    font-size: 16px !important;
    font-weight: 700;
  }
  .cm-full-wdith{
    max-width: 75% !important;
    margin: 0 auto;
  }
  .mt-2 p {
    font-size: 16px;
  }
  .settings-description, .settings-description-two {
    font-size: 14px !important;
  }
  .tab-title {
    font-size: 14px;
  }
  .text-3xl {
    font-size: 1.425rem;
    line-height: 2.25rem;
  }
  .destribution-text {
    font-size: 16px;
    font-weight: 600;
  }
  .new-word {
    font-size: 16px;
    font-weight: 600;
  }
  .migration-status {
    display: none;
  }
  
}

@media (max-width: 768px) {
  .tamil-logo img {
    max-width: 170px !important;
  }
  .title-pos {
    position: relative;
    left: -30px;
    font-size: 20px;
  }
  .letter-container {
    font-size: 16px !important;
    font-weight: 700;
  }
  .cm-full-wdith{
    max-width: 80% !important;
    margin: 0 auto;
  }
  .mt-2 p {
    font-size: 15px;
  }
  .settings-description, .settings-description-two {
    font-size: 14px !important;
  }
  .tab-title {
    font-size: 14px;
  }
  .text-3xl {
    font-size: 1.125rem;
    line-height: 2.25rem;
  }
  .destribution-text {
    font-size: 14px;
    font-weight: 600;
  }
  .new-word {
    font-size: 14px;
    font-weight: 600;
  }
  .migration-status {
    display: none;
  }
  
}

@media (max-width: 640px) {
  .tamil-logo img {
    max-width: 150px !important;
  }
  .title-pos {
    position: relative;
    left: -15px;
    font-size: 20px;
  }
  .letter-container {
    font-size: 16px !important;
    font-weight: 700;
  }
  .cm-full-wdith{
    max-width: 100% !important;
    margin: 0 auto;
  }
  .mt-2 p {
    font-size: 14px;
  }
  .settings-description, .settings-description-two {
    font-size: 12px !important;
  }
  .tab-title {
    font-size: 13px;
  }
  .text-3xl {
    font-size: 0.875rem;
    line-height: 2.25rem;
  }
  .destribution-text {
    font-size: 14px;
    font-weight: 600;
  }
  .new-word {
    font-size: 14px;
    font-weight: 600;
  }
  .migration-status {
    display: none;
  }
  .inline-block p {
    margin-bottom: 2px;
  }
  
}

@media (max-width: 475px) {
  .navbar-content{
    padding-left: 0;
    padding-right: 0;
    justify-content: space-around;
  }
  .desktop-logo{
    display: none !important;
  }
  .mobile-logo{
    display: block !important;
    width: 50px;
  }
  .tamil-logo img {
    max-width: 150px !important;
  }
  .title-pos {
    position: relative;
    left: 7px;
    font-size: 18px;
  }
  .letter-container {
    font-size: 16px !important;
    font-weight: 700;
  }
  .cm-full-wdith{
    max-width: 100% !important;
    margin: 0 auto;
  }
  .text-left h3 {
    font-size: 12px;
  }
  .mt-2 p {
    font-size: 10px;
  }
  .cm-width-set .text-4xl {
    font-size: 18px;
    width: 70px;
    min-width: 60px;
  }
  span.yellow-green-box {
    width: 35px;
  }
  span.green-dark-box {
    width: 30px;
  }
  .settings-description, .settings-description-two {
    font-size: 13px !important;
  }
  .tab-title {
    font-size: 12px;
  }
  .text-3xl {
    font-size: 0.875rem;
    line-height: 2.25rem;
  }
  .destribution-text {
    font-size: 14px;
    font-weight: 600;
  }
  .new-word {
    font-size: 14px;
    font-weight: 600;
  }
  .migration-status {
    display: none;
  }
  .details-list li {
    font-size: 12px;
  }
  .details p {
    font-size: 12px;
  }
  .old-word p {
    font-size: 16px;
  }
  .inline-block p {
    margin-bottom: 2px;
  }
}

@media (max-width: 400px) {
.grid-board {
  margin: 0px auto;
  padding-bottom: 100px;
}
.mobile-keyboard {
  position: fixed;
  bottom: 0;
  width: 98%;
  padding: 5px 0px;
  background: white;
}
span.yellow-green-box {
  width: 40px;
}
span.green-dark-box {
  width: 30px;
}
.old-word p {
  font-size: 16px;
}
.inline-block p {
  margin-bottom: 2px;
}
}